apiVersion: v2
name: {{ profile_name }}
description: A Weaveworks Helm chart for the {{ profile_name }} Profile
type: application
version: {{ profile_version }}
dependencies:
  - name: {{ profile_name }}
    version: "{{ dependency_version  }}"
    repository: "{{ dependency_repo }}"
kubeVersion: ">=1.16.0-0"
home: https://github.com/murillodigital/gitops-profiles
sources:
  - {{ dependency_repo }}

keywords:
{% for item in keywords -%}
- {{ item }}
{% endfor %}

maintainers:
  - name: Weaveworks
    email: support@weave.works

annotations:
  "weave.works/profile": {{ profile_name }}
  "weave.works/category": {{ category_name }}
  "weave.works/layer": layer-0
  "weave.works/operator": "true"
  "weave.works/links": |
    - name: Chart Sources
      url: {{ dependency_repo }}
    - name: Upstream Project
      url: {{ upstream_project }}
  "weave.works/profile-ci": |
    - "gke"
    - "kind"
    - "eks"
